<%- include("partials/header") %>
<div class="container">
  <div class="jumbotron error-jumbo text-center">
    <div class="container">
      <h1>Oops, we're not sure where that is!</h1>
      <h3 style="color: grey;">404 - Page not found</h3>
      <br>
      <a class="btn btn-large btn-outline-light" href="/">Try Again</a>
    </div>
  </div>
</div>
<%- include("partials/footer") %>